%h2 住所情報登録
= form_for @address do |f|
  = render "devise/shared/error_messages", resource: @address
  .field
    = f.label :postal_code
    %br/
    = f.text_field :postal_code

  .actions
    = f.submit "Sign up"
= render "devise/shared/links"