= stylesheet_link_tag 'users_show'

.pagecontainer

  .pagecontainer__mypageheader
    = render 'home/humburger'
    -# = image_tag('changedforest.jpg', alt: "画像", class:"miniimagelogo")

  .pagecontainer__mypagecontents 
    %p ニックネーム
    = @user.nickname
    %p 生年月日
    = @user.birthdate
    %p メールアドレス
    = @user.email