= stylesheet_link_tag 'users_show'

.pagecontainer

  -# ヘッダー
  .pagecontainer__mypageheader
    = render 'home/humburger'
    .firststage
    =link_to image_tag('logo.png', alt: "ロゴ画像", class:"headerlogo"), root_path

  -# メイン  
  .pagecontainer__mypagecontents 
    %ul.menu
      %li.menu__item
        .js-menu__item ユーザー登録情報（クリックで開く）
        %ul.submenu
          %li.submenu__item
            %p ユーザーネーム
            %p 
              ="#{@user.nickname}" 
          %li.submenu__item
            %p 生年月日
            %p 
              ="#{@user.birthdate}"
          %li.submenu__item
            %p 会社名
            %p 
              ="#{@user.company_name}"
          %li.submenu__item
            %p e-mail
            %p 
              ="#{@user.email}"
            
        .js-menu__item 売り上げ確認（クリックで開く）
        %ul.submenu
          %li.submenu__item
            %p 現在までの売り上げ
            %p 
              ="売り上げ：#{@user.sales}円売り上げました。9割があなたの利益となります"
          %li.submenu__item
            %p 現在までの利益（出金は１０００円単位です）
            %p 
              ="利益：#{(@user.sales * 0.9).round}円があなたの利益になります"

  
        .js-menu__item 出品中の商品（クリックで開く）
        %ul.submenu
          - @auctionitems.each do |item|
            %li.submenu__item
              = link_to "商品名:#{item.name}", item_path(item), class: "", data: {"turbolinks" => false} 
        
        .js-menu__item 売却済みの商品（クリックで開く）
        %ul.submenu
          - @solditems.each do |item|
            %li.submenu__item
              = link_to "商品名:#{item.name}", item_path(item), class: "", data: {"turbolinks" => false}
        
          -# %li.submenu__item
          -#   %a{:href => ""} 未実装。改装中。商品の状態などを確認できるようにする。
          -# %li.submenu__item
          -#   %a{:href => ""} 未実装メニュー2
          -# %li.submenu__item
          -#   %a{:href => ""} 未実装メニュー3
          -# %li.submenu__item
          -#   %a{:href => ""} 未実装メニュー4

        -# .js-menu__item ダミーメニュー
        -# %ul.submenu
        -#   %li.submenu__item
        -#     %a{:href => ""} ダミーメニュー１
        -#   %li.submenu__item
        -#     %a{:href => ""} ダミーメニュー２
        -#   %li.submenu__item
        -#     %a{:href => ""} ダミーメニュー３
        -#   %li.submenu__item
        -#     %a{:href => ""} ダミーメニュー４
        
        


  -# フッター
  = render 'home/topfooter'
  