= stylesheet_link_tag 'users_show'

.pagecontainer

  -# ヘッダー
  .pagecontainer__mypageheader
    = render 'home/humburger'
    .firststage
    =link_to image_tag('logo.png', alt: "ロゴ画像", class:"headerlogo"), root_path

  -# メイン  
  .pagecontainer__mypagecontents 
    %p ニックネーム
    = @user.nickname
    %p 生年月日
    = @user.birthdate
    %p メールアドレス
    = @user.email
  

  -# フッター
  = render 'home/topfooter'
  