.humburgermenu-wrapper
  %span.navtoggle
    %i.navtoggle__i
    %i.navtoggle__i
    %i.navtoggle__i
  %nav.nav
    %ul.nav__menuul
      %li.nav-menu-li
        = link_to "ホーム", "#", class:"nav-menu-link"
      %li.nav-menu-li
        = link_to "ログイン", "#", class:"nav-menu-link"
      %li.nav-menu-li
        = link_to "マイページ", "#", class:"nav-menu-link"
      %li.nav-menu-li
        = link_to "ログアウト", "#", class:"nav-menu-link"
      %li.nav-menu-li
        = link_to "出品", "#", class:"nav-menu-link"
      %li.nav-menu-li
        = link_to "検索", "#", class:"nav-menu-link"
    
    
    