.humburgermenu-wrapper
  %span.nav_toggle
    %i.toggle-i
    %i.toggle-i
    %i.toggle-i
  %nav.nav
    %ul.nav_menu_ul
      %li.nav_menu_li
        = link_to "ホーム", root_path, class:"humburgerlink"
      -if user_signed_in?
        %li.nav_menu_li
          = link_to "マイページ", user_path(current_user), class:"humburgerlink"
        %li.nav_menu_li
          = link_to "ログアウト", destroy_user_session_path, class:"humburgerlink"
        %li.nav_menu_li
          = link_to "出品", new_item_path, class:"humburgerlink"
      -else
        %li.nav_menu_li
          = link_to "ログイン", new_user_session_path, class:"humburgerlink"
      %li.nav_menu_li
        = link_to "条件検索", search_path, class:"humburgerlink"
      %li.nav_menu_li
        = link_to "カテゴリ一覧", categories_path, class:"humburgerlink"
      %li.nav_menu_li
        = link_to "ヘルプ", help_path, class: "humburgerlink"
    
    
    