.humburgermenu-wrapper
  %span.nav_toggle
    %i.toggle-i
    %i.toggle-i
    %i.toggle-i
  %nav.nav
    %ul.nav_menu_ul
      %li.nav_menu_li
        = link_to "ホーム", "#"
      %li.nav_menu_li
        = link_to "ログイン", "#"
      %li.nav_menu_li
        = link_to "マイページ", "#"
      %li.nav_menu_li
        = link_to "ログアウト", "#"
      %li.nav_menu_li
        = link_to "出品", "#"
      %li.nav_menu_li
        = link_to "検索", "#"
    
    
    