.humburgermenu-wrapper
  %span.nav_toggle
    %i.toggle-i
    %i.toggle-i
    %i.toggle-i
  %nav.nav
    %ul.nav_menu_ul
      %li.nav_menu_li
        = link_to "ホーム", "#", class:"humburgerlink"
      %li.nav_menu_li
        = link_to "ログイン", "#", class:"humburgerlink"
      %li.nav_menu_li
        = link_to "マイページ", "#", class:"humburgerlink"
      %li.nav_menu_li
        = link_to "ログアウト", "#", class:"humburgerlink"
      %li.nav_menu_li
        = link_to "出品", "#", class:"humburgerlink"
      %li.nav_menu_li
        = link_to "検索", "#", class:"humburgerlink"
    
    
    