%header.pagecontainer__header

  = render "humburger" 

  .firststage
    =link_to image_tag('logo.png', alt: "ロゴ画像", class:"headerlogo"), root_path
    = form_tag(search_path,:method => 'get') do  
      = text_field_tag :firstsearch, "",{class: "search-field"}
      = submit_tag '商品名で検索', :name => nil


  .secondstage
    .secondstage__left
      .topmenu 
        = link_to "カテゴリの一覧", categories_path, class: "categorytoplink"
      .categorylist-wrapper
        %ul.parentul
          - @category_parent_array.each do |parentcategory|
            %li.toppage-parentcategory{ data: { parentname: parentcategory } }
              = parentcategory
        %ul.childrenul
        %ul.grandchildrenul

    .secondstage__right
      - if user_signed_in?
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "headerlink"
        = link_to "マイページへ", user_path(@user), class: "headerlink"
        %br
        = link_to "商品一覧ページへ", items_path, class: "headerlink"
        %br
      - else
        = link_to "新規登録", new_user_registration_path, class: "headerlink"
        = link_to "ログイン", new_user_session_path, class: "headerlink"
        