= stylesheet_link_tag 'categories_index'


.pagecontainer
  .pagecontainer__categoryheader
    = render 'home/humburger'
    .firststage
    =link_to image_tag('logo.png', alt: "ロゴ画像", class:"headerlogo"), root_path

  .pagecontainer__categorymain
    .parent
      - @parentcategories.each do |parentcategory|
        = parentcategory.name 
        .child 
          - @childrencategories = parentcategory.children
          - @childrencategories.each do |childcategory|
            = link_to "#{childcategory.name}", category_path(childcategory.id)
            .grandchild
              - @grandchildrencategories = childcategory.children
              - @grandchildrencategories.each do |grandchildcategory|  
                = link_to  "#{grandchildcategory.name}", category_path(grandchildcategory.id)
