= stylesheet_link_tag 'categories_index'

カテゴリ一覧ページ

-# 全カテゴリ
-# - @categories.each do |category|
-#  = category.name


.parent
  - @parentcategories.each do |parentcategory|
    = parentcategory.name 
    .child 
      - @childrencategories = parentcategory.children
      - @childrencategories.each do |childcategory|
        = link_to "#{childcategory.name}", category_path(childcategory.id)
        .grandchild
          - @grandchildrencategories = childcategory.children
          - @grandchildrencategories.each do |grandchildcategory|  
            = link_to  "#{grandchildcategory.name}", category_path(grandchildcategory.id)
