= stylesheet_link_tag 'categories_show'

.pagecontainer
  -# ヘッダー
  .pagecontainer__categoryshowheader
    = render 'home/humburger'
    .firststage
    =link_to image_tag('logo.png', alt: "ロゴ画像", class:"headerlogo"), root_path

  -# メイン
  .pagecontainer__categoryshowmain
    -# 孫カテゴリがある場合はリンク孫に飛ぶためのリンク作ってあげる
    -if @categories != []
      %p.titlebar さらに絞り込む
      .detailsearch
        - @categories.each do |category|
          .detailsearch__name
            = link_to "#{category.name}", category_path(category), class:"categorylinks"

        

    %p.titlebar 商品一覧
    - @childitems.each do |item|
      = link_to "#{item.name}", item_path(item), class:"categorylinks"
      = image_tag item.images.first.image.url

    - @grandchilditems.each do |item|
      = link_to "#{item.name}", item_path(item), class:"categorylinks"
      = image_tag item.images.first.image.url
      


  -# フッター
  = render 'home/topfooter'
  

